name: "Test using cargo check"

on:
  workflow_call:

defaults:
  run:
    shell: bash

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: "Test using cargo check"
    runs-on: ubuntu-latest

    steps:
      - name: "Setup the Rust stable toolchain"
        uses: actions-rs/toolchain@v1
        with:
          toolchain: "stable"
          override: true

      - name: "Checkout the repository"
        uses: actions/checkout@v2

      - name: "Run cargo check"
        uses: actions-rs/cargo@v1
        with:
          command: "check"
